* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./img/img4.jpg);
  background-repeat: no-repeat;

}



.hero-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.balloon {
  position: absolute;
  font-size: 40px;
  cursor: pointer;
  user-select: none;
}

@keyframes balloonFloat {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(-300px) rotate(15deg);
  }

  100% {
    transform: translateY(-600px) rotate(-15deg);
  }
}



@media(max-width:768px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }
}

@media(max-width:480px) {
  .container {
    max-width: 100%;
  }
}


.slider {
  width: 160px;
  height: 200px;

  position: absolute;
  top: 30%;
  left: calc(50% - 80px);

  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: spin360 20s linear infinite;
}

@keyframes spin360 {
  from {
    transform: perspective(1000px) rotateX(-5deg) rotateY(0deg);
  }

  to {
    transform: perspective(1000px) rotateX(-5deg) rotateY(360deg);
  }
}


.card {
  position: absolute;
  inset: 0;
  transform:
    rotateY(calc(360deg / var(--total) * (var(--index) - 1))) translateZ(300px);

}


.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}